#!/usr/bin/env bash

[worldserver]

########################################
# My module configuration
########################################
#
#    MyModule.Enable
#        Description: Enable my module and print "Hello World" message at server start
#        Default:     0 - Disabled
#                     1 - Enabled
#

DruidBuff.Enable = 1